<div id="shopify-block-14656832010101544780" class="shopify-block shopify-app-block">
<script type="text/javascript">
(function() {
  const config = {"cache_hash":1706222373,"settings":{"currency_format":"amount","selectors":{"place_options":"","add_to_cart":"","quantity":"","price":"","compare_price":"","gallery_container":".product-media-container .product__media ","gallery_image":".product-media-container .product__media  img","variants":"","visible_variants":"","form":"","buy_it_now":"","lines":"","line_quantity":"","line_remove":"","own_variants":""},"translations":{"i18n_configure_link":"Edit Options","i18n_separator_title_value":",","i18n_separator_sku":"-","i18n_modal_cancel_btn":"Cancel","i18n_modal_submit_btn":"Submit","i18n_qty_label":"Qty: ","i18n_characters_left":"Characters left: ","i18n_per_character":"per character","i18n_default_select_title":"-- Please Select --","i18n_select_compare_at_title":"(Compare at: [compare_at_price])","i18n_allowed_extensions":"Allowed extensions: ","i18n_required_option_warning":"\"[option_name_or_option_title]\" is required","i18n_selection_limit_warning":"Selection limit, min=[option_limit_min]; max=[option_limit_max]","i18n_number_range_warning":"Number range, min=[option_range_min]; max=[option_range_max]","i18n_length_range_warning":"Length range, min=[option_length_min]; max=[option_length_max]","i18n_buy_now_button":"Buy now"},"custom_css_mode":"on","custom_css":".mw-option__swatch-media {\nborder-radius: 50%;\nborder-color:black;\n}\n.mw-text--style-strong{\nfont-size:14px;\n}\n.mw-option--type-button .mw-option__button, .mw-option--type-multibutton .mw-option__button {\n    border-radius: 0;\n}\n.mw-option--type-button .mw-option__control.mw-option__value--selected .mw-option__button, .mw-option--type-button .mw-option__control:checked+.mw-option__button, .mw-option--type-multibutton .mw-option__control.mw-option__value--selected .mw-option__button, .mw-option--type-multibutton .mw-option__control:checked+.mw-option__button {\n    box-shadow: none;\n    border-color: #00140e;\n    background: #00140e;\n}\n.mw-option--type-button .mw-option__control.mw-option__value--selected .mw-option__button .mw-text, .mw-option--type-button .mw-option__control:checked+.mw-option__button .mw-text, .mw-option--type-multibutton .mw-option__control.mw-option__value--selected .mw-option__button .mw-text, .mw-option--type-multibutton .mw-option__control:checked+.mw-option__button .mw-text {\n    color: #fffffa;\n}","beta_features":{"use_buy_now":"no","use_custom_select":"no","multi_currency":"no","multi_currency_warning":"The actual price in the cart may vary slightly due to conversion rate fluctuations"},"i18n":{"nl":{"localizations":{"i18n_qty_label":"Aantal:","i18n_per_character":"","i18n_separator_sku":"-","i18n_buy_now_button":"Nu kopen","i18n_configure_link":"Keuzes aanpassen","i18n_characters_left":"","i18n_modal_cancel_btn":"Annuleren","i18n_modal_submit_btn":"Toepassen","i18n_allowed_extensions":"Toegelaten extenties:","i18n_default_select_title":"-- optie kiezen --","i18n_length_range_warning":"","i18n_number_range_warning":"","i18n_separator_title_value":"","i18n_required_option_warning":"\"[option_name_or_option_title]\" is verplicht","i18n_select_compare_at_title":"(origineel: [compare_at_price])","i18n_selection_limit_warning":""}}},"calendar_html_format":"without_currency","calendar_format":"d\/m\/Y","calendar_disable_mobile":"no"}};

  if (config.settings.custom_css_mode === 'on' && config.settings.custom_css.length) {
    const styleEl = document.createElement('style');
    styleEl.innerHTML = config.settings.custom_css;
    document.body.appendChild(styleEl);
  }
  const curr_loc = {"shop_locale":{"locale":"nl","enabled":true,"primary":false,"published":true}};
  window.mwApoInit = window.mwApoInit || Object.assign({
    "version": "1.1",
    "product": null,
    "cart": {"note":null,"attributes":{},"original_total_price":0,"total_price":0,"total_discount":0,"total_weight":0.0,"item_count":0,"items":[],"requires_shipping":false,"currency":"INR","items_subtotal_price":0,"cart_level_discount_applications":[],"checkout_charge_amount":0},
    "template_name": "index",
    "shop_domain": "bonfireclub.myshopify.com",
    "shop_domain_primary": "bonfireclub.be",
    "shop_money_format": "Rs. {{amount}}",
    "shop_money_with_currency_format": "Rs. {{amount}}",
    "shop_currency": "EUR",
    "locale": curr_loc && curr_loc["shop_locale"] ? curr_loc["shop_locale"]["locale"] : "",
    "locale_primary": curr_loc && curr_loc["shop_locale"] ? curr_loc["shop_locale"]["primary"] : "",
    }, config);
})();
</script>
</div>

<div id="shopify-block-13768625480086291342" class="shopify-block shopify-app-block">
<script>
  window['ShopifyForms'] = {
    ...window['ShopifyForms'],
    currentPageType: "index"
  };
</script>
</div>