<div class="what-wrapper">
  <div class="left-sec content">
    {%- if section.settings.logo != blank -%}
      <img src="{{ section.settings.logo | img_url: "master" }}"/>
    {% endif %}
    {%- if section.settings.heading != blank -%}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}
    {%- if section.settings.subheading != blank -%}
      {{ section.settings.subheading }}
    {% endif %}
  </div>
  <div class="right-sec content">
    <img src="{{ section.settings.image | img_url: "master" }}"/>
  </div>
</div>

{% schema %}
  {
    "name": "What We Do",
    "class": "what-we-do",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Top Logo"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Main Heading"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Paragraph"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Right Image"
      }
    ],
    "presets": [
      {
        "name": "What We Do",
        "settings": {}
      }
    ]
  }
{% endschema %}